@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;700&display=swap");

$appleBlue: #32af9f;
$blue: #3a86ff;
$green: #44c767;
$purple: #8338ec;
$orange: #fb5607;
$red: #ff006e;
$yellow: #ffbe0b;
$gray50: #fbfffe;
$gray100: #f0f4f3;
$gray200: #ddd;
$gray400: #999;
$randomColor: rgb(random(255), random(255), random(255));
$colors: ($appleBlue, $purple, $red, $yellow, $green, $orange);

$boxshadowS: 0 0 1px rgba(0, 0, 0, 0.5);
$boxshadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
$boxshadowXL: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.12);
$font1: "Neucha", cursive;
$font2: "Mukta Vaani", sans-serif;
$lineargradient: linear-gradient(to bottom, $green 5%, $appleBlue 100%);
$borderRadius: 0.5rem;

@mixin Button {
	border: none;
	font-family: $font2;
	font-size: 1.6rem;
	padding: 0.1rem 2rem;
	border-radius: $borderRadius;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	cursor: pointer;
	& svg {
		margin-right: 1rem;
		height: 2rem;
		width: 2rem;
	}
}

@mixin formstyles {
	padding: 0.5rem 1rem;
	border: 1px solid $gray200;
	font-family: $font2;
	font-size: 1.6rem;
	color: $gray400;
	border-radius: $borderRadius;
}

*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
#root {
	min-height: 100vh;
	background-color: $gray50;
}
.container {
	display: block;
	font-size: 1.6rem;
	font-family: $font2;
	color: $gray400;
	min-height: 100%;
}
a {
	text-decoration: none;
	color: $appleBlue;
}
h1 {
	font-size: 3rem;
	font-family: $font1;
	letter-spacing: 1px;
}
h2 {
	color: $appleBlue;
}
h3 {
	font-weight: 300;
}
.center {
	text-align: center;
	justify-content: center !important;
}
.nav {
	padding: 2rem;
	background: white;
	box-shadow: $boxshadowS;
	display: flex;
	justify-content: space-between;
}
.btn_primary {
	@include Button;
	background: $appleBlue;
	color: white;
	&:hover {
		background: $lineargradient;
	}
}
.btn_secondary {
	@include Button;
	background: none;
	color: $appleBlue;
	border: 1px solid $appleBlue;
	&:hover {
		color: $green;
		border: 1px solid $green;
	}
}

.row {
	display: flex;
	flex-wrap: nowrap;
	margin: 2rem 1rem;
	justify-content: space-evenly;
	align-items: stretch;
}
.column {
	width: 25%;
	margin: 1rem;
	border-radius: $borderRadius;
	position: relative;
	display: flex;
	flex-direction: column;
	span.count {
		font-weight: 300;
		font-size: 1.6rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-right: 0.5rem;
		height: 2.8rem;
		width: 2.8rem;
		color: white;
	}
	@for $i from 1 through 5 {
		&:nth-child(#{$i}) span.count {
			background: nth($colors, $i);
			opacity: 0.5;
		}
		&:nth-child(#{$i}) .card {
			border-top: 3px solid;
			border-top-color: nth($colors, $i);
		}
	}
	.card {
		border-radius: $borderRadius;
		display: flex;
		justify-content: space-between;
		background: #fff;
		padding: 2rem;
		box-shadow: $boxshadow;
		min-height: 10rem;
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		.card-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-grow: 0;
			.card__delete {
				border: none;
				background: none;
				color: $gray200;
				&:hover {
					cursor: pointer;
					color: $red;
				}
				svg {
					height: 2rem;
					width: 2rem;
				}
			}
			.card__title {
				font-weight: 600;
			}
		}
		.card__description {
			font-weight: 100;
		}
	}
	.card.dragging {
		cursor: move !important;
		opacity: 0.5;
		border-top-color: #999 !important;
	}
	.card-filler {
		flex-grow: 1;
	}
}
.page {
	width: 50%;
	margin: 2rem auto;
	text-align: center;
	background-color: white;
	padding: 4rem;
	border-radius: $borderRadius;
	box-shadow: $boxshadow;
}
.task {
	.task__heading {
		display: flex;
		justify-content: space-between;
	}
}
.modal {
	display: none;
}
.modal.active {
	z-index: 999;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 1s;
}
.modal.active > div {
	background-color: white;
	max-width: 50%;
	max-height: 90%;
	box-sizing: border-box;
	overflow: auto;
	margin: 3% auto;
	padding: 4rem;
	text-align: center;
	display: flex;
	justify-content: flex-start;
	position: relative;
	box-shadow: $boxshadow;
	border-radius: $borderRadius;
}
.modal button.modalclose {
	float: right;
	position: absolute;
	border-radius: 50%;
	padding: 5px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border: 3px solid $gray200;
	color: $gray200;
	font-weight: bold;
	background-color: white;
}
.modal button.modalclose:hover {
	border: 3px solid $gray400;
	color: $gray400;
	background-color: white;
}
form.create {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
	h2 {
		text-align: center;
	}
	label {
		margin-top: 2rem;
	}
	input[type="text"] {
		@include formstyles;
	}
	textarea {
		@include formstyles;
	}
	select {
		@include formstyles;
	}
}
